extends layout
block append head
  != css('default')
  != css('component')

block content
  .main
    .row
      h1.span12 Send a Message
    .row
      ul.cbp-ig-grid.span12
        each city in cities
          +cityBlock(city)

mixin cityBlock(data)
  li
    a(href='/map?city=#{data.placeId}')
      h3.cbp-ig-title #{data.name}
      span.cbp-ig-category #{data.country}
