extends layout
block append head
  != css('default')
  != css('component')

block content
  .container
    .main
        ul.cbp-ig-grid
          li
            a(href='#')
              h3.cbp-ig-title Ann Arbor
              span.cbp-ig-category USA
          li
            a(href='#')
              h3.cbp-ig-title Athens
              span.cbp-ig-category Greece
          li
            a(href='#')
              h3.cbp-ig-title Berlin
              span.cbp-ig-category Germany
          li
            a(href='#')
              h3.cbp-ig-title Boston
              span.cbp-ig-category USA
          li
            a(href='#')
              h3.cbp-ig-title Portland
              span.cbp-ig-category USA
          li
            a(href='#')
              h3.cbp-ig-title Detroit
              span.cbp-ig-category USA
          li
            a(href='#')
              h3.cbp-ig-title London
              span.cbp-ig-category England
          li
            a(href='#')
              h3.cbp-ig-title Belfast
              span.cbp-ig-category Ireland
          li
            a(href='#')
              h3.cbp-ig-title Fredrikstan
              span.cbp-ig-category Norway
