extends layout
block append head
  != css('default')
  != css('component')

block content
  .container
    .main
        ul.cbp-ig-grid
          each city in cities
            +cityBlock(city)

mixin cityBlock(data)
  li
    a(href='/map?city=#{data.placeId}')
      h3.cbp-ig-title #{data.name}
      span.cbp-ig-category #{data.country}
