$white = #fff
$burgundy = #682828

body
  background: #fcfcfa
  height: 500px
  position: relative
  width: 960px

.fill
  fill: $white

.graticule
  fill: none
  stroke: #ccc
  stroke-width: .5px
  stroke-opacity: .3

.land
  fill: #222
  fill-opacity: .8

circle
  fill: $burgundy
  fill-opacity: .8
  stroke: $white
  stroke-opacity: 0.5
  stroke-width: 1px
